/*******************************************************************/
/**************************   CSS RESET   **************************/
/*******************************************************************/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.row {
  margin: 0px !important;
}

/*******************************************************************/
/***************************   GENERAL   ***************************/
/*******************************************************************/
/* BODY */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: bisque;
}

body::before {
  content: "";
  background-image: url("../img/fondo_contacto.jpg");
  background-size: cover;
  position: fixed;
  background-position: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
  z-index: -1;
}

/* HEADER */
.logo {
  width: 50px;
}

/* MAIN */
h1 {
  background: linear-gradient(90deg, bisque, rgb(14, 15, 50), rgb(14, 15, 50), bisque);
  color: aliceblue;
  text-align: center;
  padding: 20px;
  margin: 20px 0px;
  z-index: 1;
}

h3 {
  background: linear-gradient(90deg, bisque, rgb(145, 148, 252), rgb(145, 148, 252), bisque);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  margin: 10px 0px;
  z-index: 1;
}

/* FOOTER */
.redSocial {
  width: 30px;
}

/*******************************************************************/
/*************************   INDEX.HTML   **************************/
/*******************************************************************/
.video {
  top: 73px;
  position: fixed;
  min-width: 100%;
  min-height: 88%;
}

/*******************************************************************/
/**********************   ULTIMO_DISCO.HTML   **********************/
/*******************************************************************/
.ultimoDiscoParrafo {
  text-align: justify;
  line-height: 30px;
}

.ultimoDiscoBold {
  font-weight: bold;
}

.ultimoDiscoItalic {
  font-style: italic;
}

/*******************************************************************/
/*********************   PROXIMOS-SHOWS.HTML   *********************/
/*******************************************************************/
.bgDegrade {
  border-top: 2px solid rgb(14, 15, 50);
  background: linear-gradient(180deg, rgba(145, 148, 252, 0.566) 80%, bisque);
  z-index: 1;
}

.proximosShowsBold {
  font-weight: bold;
}

.proximosShowsItalic {
  font-style: italic;
}

@media (max-width: 600px) {
  .proximosShowsItalic {
    font-size: small;
  }
}

/*******************************************************************/
/*************************   DISCOS.HTML   *************************/
/*******************************************************************/
.discoHover:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: 0.6s;
}

.discosMargin {
  margin-bottom: 5px;
}

.discosBold {
  font-weight: bold;
}

.discosItalic {
  font-style: italic;
}

/*******************************************************************/
/***********************   BIOGRAFIA.HTML   ************************/
/*******************************************************************/
.banner {
  min-width: 100%;
  min-height: 50px;
}

.biografiaParrafo {
  text-align: justify;
  line-height: 30px;
}

/*# sourceMappingURL=style.css.map */