/*******************************************************************/
/*************************   DISCOS.HTML   *************************/
/*******************************************************************/

.discoHover:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: .6s;
}

.discosMargin {
    @include marginBottom(5px);
}

.discosBold {
    @include boldText;
}

.discosItalic {
    @include italicText;
}

/* Setlist Modal */

.discosModalHeader {
    background-color: rgb(137, 152, 177);

    h2 {
        font-weight: bold;
    }
}

.discosModalBody,
.discosModalFooter {
    background-color: rgb(240, 242, 245);
}